# <font color=#ffa500>Tratamento dos dados coletados</font>

In [3]:
import pandas as pd 
import re

In [4]:
data = pd.read_csv("dados_anuncios_airbnb.csv")

In [5]:
data

,Título,Preço (R$),Avaliação,Bairro,Imóvel,Características
0,FLAT PARTICULAR NO MELIA - AV. IBIRAPUERA,110,4.90,Indianópolis,Flat inteiro,"['2 hóspedes', '1 quarto', '1 cama', '1 banhei..."
1,Studio novinho a 300 m metrô - Self check in,117,4.80,Consolacao,Apartamento inteiro,"['5 hóspedes', 'Estúdio', '3 camas', '1 banhei..."
2,Studio encantador em São Paulo próximo ao metrô,110,4.87,Consolacao,Flat inteiro,"['2 hóspedes', '1 quarto', '1 cama', '1 banhei..."
3,Flat mobiliado ao lado do Hospital Sirio Libanês,80,4.61,Bela Vista,Flat inteiro,"['2 hóspedes', '1 quarto', '1 cama', '1 banhei..."
4,Suíte moderna com cama de casal no Brooklin,54,4.89,Vila Olímpia,Quarto inteiro,"['2 hóspedes', '1 quarto', '1 cama', '1 banhei..."
...,...,...,...,...,...,...
345,Sky Paulicéia - CasApp Centro Histórico SP 510,111,4.82,Centro,Apartamento inteiro,"['2 hóspedes', '1 quarto', '1 cama', '1 banhei..."
346,Studio Casal Mobiliado - Butantã,90,NaN,Ferreira,Condomínio inteiro,"['2 hóspedes', '1 quarto', '1 banheiro', 'Wi-F..."
347,Freg do Ó /5Mint Marg/Fácil acesso Allianz Park,72,4.88,Nossa Senhora do O,Casa inteira,"['6 hóspedes', '2 quartos', '2 camas', '1 banh..."
348,STD 1401. BEM-VINDO AO NOVO CENTRO DE SÃO PAULO!,107,4.75,República,Apartamento inteiro,"['5 hóspedes', '1 quarto', '1 cama', '1 banhei..."
349,S170 - Novo e aconchegante próximo a Av Paulista!,131,4.95,Consolacao,Loft inteiro,"['2 hóspedes', '1 quarto', '2 camas', '1 banhe..."

## <font color=#ffa500>Funções para destrinchar as listas da coluna característica em várias colunas</font>

In [6]:
def findQtd(txt, palavra):
    
    search = re.findall(r'(\d+) {}'.format(palavra), str(txt), flags = re.IGNORECASE)
    
    if len(search) != 0:
        return int(search[0])
    else:
        return 0

In [7]:
def findFeature(txt, palavra):
    
    search = re.findall(r'{}'.format(palavra), str(txt), flags = re.IGNORECASE)
    
    if len(search) != 0:
        return "Tem"
    else:
        return "Não tem"

In [8]:
hospedes = data['Características'].apply(findQtd, palavra = 'hóspede')
hospedes.value_counts().sort_index()

1     32
2    240
3     32
4     35
5      7
6      4
Name: Características, dtype: int64

In [9]:
camas = data['Características'].apply(findQtd, palavra = 'cama')
camas.value_counts().sort_index()

0     15
1    262
2     50
3     20
4      3
Name: Características, dtype: int64

In [10]:
quartos = data['Características'].apply(findQtd, palavra = 'quarto')
quartos.value_counts().sort_index()

0     67
1    272
2      9
4      2
Name: Características, dtype: int64

In [11]:
banheiros = data['Características'].apply(findQtd, palavra = 'banheiro')
banheiros.value_counts().sort_index()

0      4
1    327
2     18
3      1
Name: Características, dtype: int64

In [12]:
cozinha = data['Características'].apply(findFeature, palavra = 'cozinha')
cozinha.value_counts()

Tem        284
Não tem     66
Name: Características, dtype: int64

In [13]:
wifi = data['Características'].apply(findFeature, palavra = 'Wi-Fi')
wifi.value_counts()

Tem        340
Não tem     10
Name: Características, dtype: int64

In [14]:
piscina = data['Características'].apply(findFeature, palavra = 'piscina')
piscina.value_counts()

Tem        212
Não tem    138
Name: Características, dtype: int64

In [15]:
data['Hóspedes'] = hospedes
data['Camas'] = camas
data['Quartos'] = quartos
data['Banheiros'] = banheiros
data['Cozinha'] = cozinha
data['Wi-Fi'] = wifi
data['Piscina'] = piscina

In [16]:
data.drop(columns = 'Características', inplace = True)

In [17]:
data

,Título,Preço (R$),Avaliação,Bairro,Imóvel,Hóspedes,Camas,Quartos,Banheiros,Cozinha,Wi-Fi,Piscina
0,FLAT PARTICULAR NO MELIA - AV. IBIRAPUERA,110,4.90,Indianópolis,Flat inteiro,2,1,1,1,Tem,Tem,Tem
1,Studio novinho a 300 m metrô - Self check in,117,4.80,Consolacao,Apartamento inteiro,5,3,0,1,Tem,Tem,Tem
2,Studio encantador em São Paulo próximo ao metrô,110,4.87,Consolacao,Flat inteiro,2,1,1,1,Tem,Tem,Tem
3,Flat mobiliado ao lado do Hospital Sirio Libanês,80,4.61,Bela Vista,Flat inteiro,2,1,1,1,Tem,Tem,Não tem
4,Suíte moderna com cama de casal no Brooklin,54,4.89,Vila Olímpia,Quarto inteiro,2,1,1,1,Tem,Tem,Não tem
...,...,...,...,...,...,...,...,...,...,...,...,...
345,Sky Paulicéia - CasApp Centro Histórico SP 510,111,4.82,Centro,Apartamento inteiro,2,1,1,1,Tem,Tem,Tem
346,Studio Casal Mobiliado - Butantã,90,NaN,Ferreira,Condomínio inteiro,2,0,1,1,Tem,Tem,Não tem
347,Freg do Ó /5Mint Marg/Fácil acesso Allianz Park,72,4.88,Nossa Senhora do O,Casa inteira,6,2,2,1,Tem,Tem,Não tem
348,STD 1401. BEM-VINDO AO NOVO CENTRO DE SÃO PAULO!,107,4.75,República,Apartamento inteiro,5,1,1,1,Tem,Tem,Tem
349,S170 - Novo e aconchegante próximo a Av Paulista!,131,4.95,Consolacao,Loft inteiro,2,2,1,1,Tem,Tem,Tem

## <font color=#ffa500>Salvando dados em arquivo csv</font>

In [16]:
# data.to_csv('dados_anuncios_airbnb_tratados.csv', index=False)