# Seleção do Modelo de Regressão - PyCaret

In [14]:
import pandas as pd
from pycaret.regression import *

In [15]:
dataset = pd.read_csv('dados_anuncios_airbnb_tratados.csv')

In [16]:
dataset.drop(columns='Título', inplace=True)
dataset = dataset.dropna()
dataset.head()

,Preço (R$),Avaliação,Bairro,Imóvel,Hóspedes,Camas,Quartos,Banheiros,Cozinha,Wi-Fi,Piscina
0,110,4.90,Indianópolis,Flat inteiro,2,1,1,1,Tem,Tem,Tem
1,117,4.80,Consolacao,Apartamento inteiro,5,3,0,1,Tem,Tem,Tem
2,110,4.87,Consolacao,Flat inteiro,2,1,1,1,Tem,Tem,Tem
3,80,4.61,Bela Vista,Flat inteiro,2,1,1,1,Tem,Tem,Não tem
4,54,4.89,Vila Olímpia,Quarto inteiro,2,1,1,1,Tem,Tem,Não tem

In [17]:
data = dataset.sample(frac=0.7, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (208, 11)
Unseen Data For Predictions: (89, 11)

## Setup Ambiente

In [18]:
regression_setup = setup(data = data,
                         target = 'Preço (R$)',
                         numeric_features=['Avaliação', 'Hóspedes', 'Camas', 'Quartos', 'Banheiros'],
                         categorical_features=['Bairro', 'Imóvel', 'Cozinha', 'Wi-Fi', 'Piscina'],
                         session_id=0)

## Melhor modelo de regressão

In [64]:
best = compare_models(sort='RMSE')

In [65]:
best

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)